{
  "ignore": [
    "**/*.stories.tsx",
    "**/*.stories.mdx",
    "**/*.d.ts"
  ],
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "esmodules": true
        }
      }
    ],
    "@babel/preset-typescript",
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "inline-react-svg"
  ]
}
