{
  "ignore": [
    "**/__tests__",
    "**/*.test.ts"
  ],
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "esmodules": true
        }
      }
    ],
    "@babel/preset-typescript"
  ]
}
