{
  "presets": ["next/babel"],
  "plugins": [
    "@fullstory/babel-plugin-annotate-react",
    ["styled-components", { "ssr": true }],
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ]
  ]
}
